
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Helvetica, sans-serif;
  padding: 20px;
  text-align: justify;
  font-size: larger;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #0e0e0e; 
  box-shadow: 0 0 0 20px #000;  
}

.header-inner {
  background: #3e4364;   
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.logo,
.nav,
.social {
  background: #dd5656;       
  padding: 12px 90px 12px 12px;
}

.nav {
  flex: auto; 
}


.banner {
  background: #ffd138; 
  padding: 8px;
  border: 20px solid #ff8a00; 
  font-size: 32px;
  font-weight: bold;
  color: #222;
  margin: 24px auto;
  margin-bottom: 60px;
}


.main-grid {
  display: grid;
  grid-template-columns: 1fr 320px; 
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 60px;
  align-items: stretch; 
}


.articles {
  background: #3e4364; 
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
}

.article {
  background: #2e67a5; 
  padding: 8px;
}

.navegacion {
  background: #83a9c9;
  padding: 12px;
  grid-column: 1 / -1;
}

.sidebar {
  background: #dd5656; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 1px;
  margin-left: 30px; 
}

.publicidad {
  background: #ffd138;
  padding: 16px 15px;
}

.site-footer {
  background: #f4eaa0; 
  padding: 12px;
  margin-top: 24px;
}

@media (max-width: 1024px) {

  .header-inner {
    flex-direction: column;
  }

  .main-grid {
   grid-template-columns: 1fr;
   gap: 20px;

  }

  .sidebar {
  margin-left: 0;
  max-width: none;
  }

  .logo, .nav, .social {
  padding: 12px;
  width: 100%;
  flex: auto;
  }

  .articles {
  background: #3e4364; 
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
  }

}
  
@media (max-width: 767px) {
  
  .articles {
  background: #3e4364; 
  padding: 20px;
  grid-template-columns: 1fr;
  gap: 21px;
}
  
}

